# Ignore all node_modules folders
backend/node_modules/
frontend/node_modules/
node_modules/

# Ignore environment variables (SECURITY RISK IF UPLOADED!)
backend/.env
frontend/.env

# Ignore Vite build files
frontend/dist/

# Ignore all files in the uploads folder
backend/uploads/*

# But don't ignore the .gitkeep file
!backend/uploads/.gitkeep

# Temporary Files
*.sql
